#include "TXLib.h"

void drawLabirint(int key)
{
    txSetFillColour(RGB(50, 50, 50));
    txClear();

    txSetColour(RGB(0, 0, 255), 10);
    txSetFillColour(RGB(0, 0, 255));
    txLine(0,157,316,157);
    txLine(147,63,147,300);
    txLine(235,63,235,300);
    txLine(81,159,131,446);
    txLine(131,446,154,523);
    txLine(154,523,175,446);
    txLine(175,446,216,443);
    txLine(425,0,425,600);
    txLine(178,353,439,305);
    txLine(181,600,277,453);
    txLine(277,453,326,451);
    txLine(381,454,422,453);
    txLine(0,0,600,0);
    txLine(0,0,0,600);
    txLine(0,600,430,600);


    txSetColour(RGB(0, 255, 0), 30);
    txSetFillColour(RGB(0, 255, 0));
    txLine(400,560,400,560);


    txSetColour(RGB(210,145,32),5);
    txSetFillColour(RGB(22,145,32));
    txLine(92,71,120,71);
    txLine(170,152,223,152);
    txLine(320,51,373,119);
    txLine(175,164,297,251);
    txLine(53,248,32,300);
    txLine(27,251,28,295);
    txLine(370,357,396,406);
    txLine(306,495,328,570);




    txSetColour(RGB(255,255,0),5);
    txSetFillColour(RGB(255,255,0));
    txCircle(45,200,7);

    txSetColour(RGB(128,0,0),5);
    txSetFillColour(RGB(128,0,0));
    if (key == 0) {
        txLine(330,450,390,450);
    } else {
        txLine(330,450,330,480);
    }


}

void numberTextOut(int x, int y, int number)
{
    char s[20] = "";
    sprintf(s, "%d", number);
    txTextOut(x, y, s);
}




void drawSnowman(int x, int y)
{

    txSetColor(TX_WHITE);
    txSetFillColor(TX_WHITE);
    txCircle(x + 0, y - 10, 10);
    txCircle(x + 0, y - 25, 7);

    txSetColor(TX_BLACK);
    txSetFillColor(TX_BLACK);
    txCircle(x + 1, y - 29, 1);
    txCircle(x - 2, y - 29,1);

    txSetColor(TX_ORANGE);
    txSetFillColor(TX_ORANGE);
    txLine(x + 0,  y - 28, x - 3, y - 27);
    txLine(x - 3, y - 27, x - 0,  y -            26);
    txLine(x + 0,  y - 26, x - 0,  y - 28);
    txFloodFill(x - 1, y - 27);
}

void moveSnowman(int *x, int *y, int speed, int *key)
{
    int predX = *x;
    int predY = *y;

    if (GetAsyncKeyState('W'))
    {
        *y = *y - speed;
    }

    if (GetAsyncKeyState('S'))
    {
        *y = *y + speed;
    }

    if (GetAsyncKeyState('D'))
    {
        *x = *x + speed;
    }

    if (GetAsyncKeyState('A'))
    {
        *x = *x - speed;
    }



    if (txGetPixel(*x, *y) == RGB(0, 0, 255))
    {
        *x = predX;
        *y = predY;

    }

    if (txGetPixel(*x, *y) == RGB(210,145,32))
    {
        txMessageBox("На начало");
        *x = 30;
        *y = 50;
        *key = 0;


    }

    if (txGetPixel(*x, *y) == RGB(0, 255, 0))
    {

        txMessageBox("You win/Ты победил");
        *x = 3000;
        *y = 5000;


    }
    if (txGetPixel(*x, *y) == RGB(128, 0, 0))
    {
        *x = predX;
        *y = predY;

    }

    if (txGetPixel(*x, *y) == RGB(255, 255, 0))
    {
        *key = 1;
        txMessageBox("Дверь открыта");
        *x = 55;
        *y = 200;

    }

}




int main()
{
    txCreateWindow(430, 600);
    txBegin();

    int snowmanX = 50;
    int snowmanY = 30;
    int snowmanKey = 0;

    int speed = 3;

    while (1)
    {
        drawLabirint(snowmanKey);

        moveSnowman(&snowmanX, &snowmanY, speed, &snowmanKey);

        drawSnowman(snowmanX, snowmanY);

        if (!GetAsyncKeyState('P') or !GetAsyncKeyState('M'))
        {
            txSetColour(TX_BLACK, 1000);
            txSetFillColour(TX_NULL);
            txCircle (snowmanX, snowmanY, 550);
        }

        if (GetAsyncKeyState(VK_UP) && speed < 7)
        {
            speed = speed + 1;
            txSleep(100);
        }
        if (GetAsyncKeyState(VK_DOWN) && speed > 0)
        {
            speed = speed - 1;
            txSleep(100);
        }

        txSetColor(RGB(0, 255, 0));
        numberTextOut(10, 10, speed);
        txSleep(1);

    }
}


// 1.2
